@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Technology</h1>
    <p class="lead">The purpose of this website is to provide information on changing technology.Espically, it will give the information about automobiles</p>
    <p><a href="https://www.eagleridgegm.com/technology-changed-auto-industry/" class="btn btn-primary btn-lg">How technology changing industry &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:indianred">Canadian cars</h2>
        <p>
            This will provide information about canadian brandred cars as well as about cars in another countries.
        </p>
        <p><a class="btn btn-default" href="https://www.globalcarsbrands.com/canadian-car-brands/">Click for more information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:purple">Car prices</h2>
        <p>Compare car prices in canada.</p>
        <p><a class="btn btn-default" href="https://carcostcanada.com/">Click for more information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:aqua">Availibilty</h2>
        <p>Check this site for availibilty.</p>
        <p><a class="btn btn-default" href="https://www.ourwindsor.ca/community-story/7469658-11-electric-cars-available-in-canada-in-2018/">Click for more information &raquo;</a></p>
    </div>
</div>